button {
  width: 80;
  height: 80;
  border: solid;
  font-size: 25;
}

.textinput {
  width: 335;
  height: 50;
  font-size: 25;
  color: #030301;
  border: solid;
}

.main {
  position: absolute;
  border: solid 4px;
  background: linear-gradient(rgb(52, 173, 243), rgb(218, 104, 183));
}